
/* 修改垂直滚动条 */
::-webkit-scrollbar {
  width: 10px; /* 修改宽度 */
}
 
/* 修改滚动条轨道背景色 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
/* 修改滚动条滑块颜色 */
::-webkit-scrollbar-thumb {
  background-color: #888;
}
 
/* 修改滚动条滑块悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* 修改垂直滚动条 */
::-webkit-scrollbar {
  width: 10px; /* 修改宽度 */
}
 
/* 修改滚动条轨道背景色 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
/* 修改滚动条滑块颜色 */
::-webkit-scrollbar-thumb {
  background-color: #888;
}
 
/* 修改滚动条滑块悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
 
/* 修改滚动条滑块移动时的颜色 */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}
 
/* 修改滚动条滑块的圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
/* 修改滚动条的宽度和颜色 */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}
 
/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px; /* 修改滑块圆角 */
}
 
/* 修改滚动条滑块悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.logo {
    height: 32px;
    margin: 10px;
    padding:5px;
    text-align: center;
  }



  .content-light-theme {
    background: #fff;
    border-left-style:solid;
    border-left-width:thin;
    border-left-color:rgb(240 242 245);
    padding-left:10px;
    padding-top:0;
    color:#000;
  }
  

    
  .content-dark-theme {
    background: #001529;
    border-left-style:solid;
    border-left-width:thin;
    border-left-color:#001529;
    padding-left:10px;
    padding-top:0;
    color:rgba(255, 255, 255, 0.65);
  }

  
  .content-dark-theme .ant-result-title ,  .content-dark-theme .ant-result-subtitle{
    color:rgba(255, 255, 255, 0.65);
  }


  .content-dark-theme .font-color-by-theme{
    color:rgba(255, 255, 255, 0.65);
  }

  
  .footer-dark-theme {
    background: #001529;
    text-align: center;
    color:rgba(255, 255, 255, 0.65);
  }
  .footer-light-theme {
    background: #fff;
    text-align: center;
  }
  
.content-dark-theme h3{
    color:rgba(255, 255, 255, 0.65) !important;
  }
  
  
  .content-dark-theme label{
    color:#999 !important;
  }
  


  .xxdrawer-light-theme .ant-drawer-content-wrapper *{
    background: #fff;
    color:#000;
  }


   .content-dark-theme {
    --ad-primary-color: #262626; /* 主题色 */
    --ad-text-color: #ffffff; /* 文本色 */
    --ad-border-color: #303030; /* 边框色 */
    --ad-background-color: #141414; /* 背景色 */
  }
   
  /* 确保覆盖所有相关的样式 */
   .content-dark-theme .ant-table {
    color: var(--ad-text-color);
    background-color: var(--ad-background-color);
  }
   
   .content-dark-theme .ant-table-thead >tr > th {
    color: var(--ad-text-color);
    background-color: var(--ad-primary-color);
    border-color: var(--ad-border-color);
  }
   
   .content-dark-theme .ant-table-tbody  >tr > td {
    border-color: var(--ad-border-color);
  }
   
   .content-dark-theme .ant-table-cell-row-hover {
    background-color: #666666 !important; /* 悬停行的背景色 */
    color:#fff !important;
  }


  .content-dark-theme .ant-picker-calendar-header{
    background-color: #cccccc !important;
    color:#fff !important;
  }

  .content-dark-theme .ant-picker-calendar{
    background-color: #cccccc !important;
    color:#fff !important;
  }
  .content-dark-theme .ant-picker-content{
    background-color: #cccccc !important;
    color:#fff !important;
  }

  .content-dark-theme  .ant-picker-date-panel .ant-picker-body{
    padding:0;
  }
  .content-dark-theme  .ant-picker-month-panel .ant-picker-body{
    padding:0;
  }

  .ant-form-item-control-input-content .ant-badge-status-dot{
    height:12px;
    width:12px;
  }


  .content-dark-theme .wanteditortoolbar *{
    color: var(--ad-text-color) !important;
    background-color: var(--ad-primary-color) !important;
    border-color: var(--ad-border-color) !important;
  }
  .content-dark-theme  {
    --w-e-textarea-bg-color: #cccccc;   /*wanteditor深色模式*/
  }

      
 iframe {
    background-color: #cccccc !important;  /*百度编辑器背景颜色不好切换，固定*/
  }


  
  .drawer-dark-theme .ant-drawer-content-wrapper *:not(.ant-badge-status-dot){
    background: #001529;
    color:rgba(255, 255, 255, 0.65);
  }

  .drawer-dark-theme .ant-modal-content *{
    background: #001529;
    color:rgba(255, 255, 255, 0.65);
  }

  .drawer-dark-theme .ant-select-selector {
    background-color: #001529 !important;
  }
  .drawer-light-theme .ant-select-selector {
    background-color: transparent;
  }
  
.drawer-dark-theme .ant-select-dropdown  {
    background-color: #001529 !important;
    padding:0;
  }
 .drawer-light-theme .ant-select-dropdown {
    background-color: transparent;
  }

  .drawer-dark-theme.ant-select-item  {
    background-color: #001529 !important;
    color: var(--ad-text-color) !important;
  }
 .drawer-light-theme.ant-select-item  {
    background-color: transparent;
  }

  .drawer-dark-theme.ant-select-item  .ant-select-item-option-content{
    color: #fff !important;
  }


  .drawer-dark-theme.ant-select-item-option-selected  {
    background-color: #eee !important;
    color: #fff !important;
  }
 .drawer-light-theme.ant-select-item-option-selected  {
    background-color: transparent;
  }


  .drawer-dark-theme.ant-select-item-option-active  {
    background-color: #ddd !important;
    color: #000 !important;
  }
 .drawer-light-theme.ant-select-item-option-active  {
    background-color: #eee;
  }


  .content-dark-theme .ant-tabs-tab-btn[aria-selected=false] {
    color: rgba(255, 255, 255, 0.65);
  }

/*顶部折叠面板的深色模式*/
  .collapse-dark-theme .ant-collapse-header{
    background-color: #666;
    border:none !important;
    border-radius:0 !important;
    color:rgba(255, 255, 255, 0.65) !important;
  }

  .collapse-dark-theme .ant-collapse-content{
    background-color: #001529;
    border:none !important;
  }

  .collapse-dark-theme del{
    text-decoration-style: solid;
    text-decoration-color: white;
  }

  .ant-menu-dark .ant-menu-item a{
    color: #fff !important;
  }

/*去掉顶部折叠面板的边框*/
  .ant-collapse {
    border:none !important;
  }
  .ant-collapse-item{
    border:none !important;
  }

/*去掉左侧导航菜单与顶部折叠面板的间距*/
  .ant-menu-item{
    margin-top:0 !important;
  }
