
.logo {
    height: 32px;
    margin: 10px;
    padding:5px;
    text-align: center;
  }



  .content-light-theme {
    background: #fff;
    border-style:solid;
    border-width:10px;
    border-color:rgb(240 242 245);
    padding:10px;
    color:#000;
  }
  

    
  .content-dark-theme {
    background: #001529;
    border-style:solid;
    border-width:10px;
    border-color:#001529;
    padding:10px;
    color:rgba(255, 255, 255, 0.65);
  }

  
  .content-dark-theme .ant-result-title ,  .content-dark-theme .ant-result-subtitle{
    color:rgba(255, 255, 255, 0.65);
  }


  .content-dark-theme .font-color-by-theme{
    color:rgba(255, 255, 255, 0.65);
  }

  
  .footer-dark-theme {
    background: #001529;
    text-align: center;
    color:rgba(255, 255, 255, 0.65);
  }
  .footer-light-theme {
    background: #fff;
    text-align: center;
  }
  
.content-dark-theme h3{
    color:rgba(255, 255, 255, 0.65) !important;
  }
  
  
  .content-dark-theme label{
    color:#999 !important;
  }
  

  .drawer-dark-theme .ant-drawer-content-wrapper *:not(.ant-badge-status-dot){
    background: #001529;
    color:rgba(255, 255, 255, 0.65);
  }

  .xxdrawer-light-theme .ant-drawer-content-wrapper *{
    background: #fff;
    color:#000;
  }


   .content-dark-theme {
    --ad-primary-color: #262626; /* 主题色 */
    --ad-text-color: #ffffff; /* 文本色 */
    --ad-border-color: #303030; /* 边框色 */
    --ad-background-color: #141414; /* 背景色 */
  }
   
  /* 确保覆盖所有相关的样式 */
   .content-dark-theme .ant-table {
    color: var(--ad-text-color);
    background-color: var(--ad-background-color);
  }
   
   .content-dark-theme .ant-table-thead >tr > th {
    color: var(--ad-text-color);
    background-color: var(--ad-primary-color);
    border-color: var(--ad-border-color);
  }
   
   .content-dark-theme .ant-table-tbody  >tr > td {
    border-color: var(--ad-border-color);
  }
   
   .content-dark-theme .ant-table-cell-row-hover {
    background-color: #666666 !important; /* 悬停行的背景色 */
    color:#fff !important;
  }


  .content-dark-theme .ant-picker-calendar-header{
    background-color: #cccccc !important;
    color:#fff !important;
  }

  .content-dark-theme .ant-picker-calendar{
    background-color: #cccccc !important;
    color:#fff !important;
  }
  .content-dark-theme .ant-picker-content{
    background-color: #cccccc !important;
    color:#fff !important;
  }

  .content-dark-theme  .ant-picker-date-panel .ant-picker-body{
    padding:0;
  }
  .content-dark-theme  .ant-picker-month-panel .ant-picker-body{
    padding:0;
  }

  .ant-form-item-control-input-content .ant-badge-status-dot{
    height:12px;
    width:12px;
  }


  .content-dark-theme .wanteditortoolbar *{
    color: var(--ad-text-color) !important;
    background-color: var(--ad-primary-color) !important;
    border-color: var(--ad-border-color) !important;
  }
  .content-dark-theme  {
    --w-e-textarea-bg-color: #cccccc;   /*wanteditor深色模式*/
  }

      
 iframe {
    background-color: #cccccc !important;  /*百度编辑器背景颜色不好切换，固定*/
  }


  .drawer-dark-theme .ant-select-selector {
    background-color: #001529 !important;
  }
  .drawer-light-theme .ant-select-selector {
    background-color: transparent;
  }
  
.drawer-dark-theme .ant-select-dropdown  {
    background-color: #001529 !important;
    padding:0;
  }
 .drawer-light-theme .ant-select-dropdown {
    background-color: transparent;
  }

  .drawer-dark-theme.ant-select-item  {
    background-color: #001529 !important;
    color: var(--ad-text-color) !important;
  }
 .drawer-light-theme.ant-select-item  {
    background-color: transparent;
  }

  .drawer-dark-theme.ant-select-item  .ant-select-item-option-content{
    color: #fff !important;
  }


  .drawer-dark-theme.ant-select-item-option-selected  {
    background-color: #eee !important;
    color: #fff !important;
  }
 .drawer-light-theme.ant-select-item-option-selected  {
    background-color: transparent;
  }


  .drawer-dark-theme.ant-select-item-option-active  {
    background-color: #ddd !important;
    color: #000 !important;
  }
 .drawer-light-theme.ant-select-item-option-active  {
    background-color: #eee;
  }



  .content-dark-theme .ant-tabs-tab-btn[aria-selected=false] {
    color: rgba(255, 255, 255, 0.65);
  }